<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="connString" connectionString="Data Source=BIMO\SQLEXPRESS;Initial Catalog=ziyaretcikayit;Trusted_Connection=True;User ID=sa;Password=123456;Connection Timeout=15;Encrypt=False;Integrated Security=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  <add name="ziyaretcikayit.Properties.Settings.ziyaretcikayitConnectionString"
   connectionString="Data Source=BIMO\SQLEXPRESS;Initial Catalog=ziyaretcikayit;User ID=sa;Password=123456"
   providerName="System.Data.SqlClient" />
 </connectionStrings>

</configuration>
